:root {
  --navyblue: #2e2f42;
  --slate: #434455;
  --white: #fff;
  --ocean: #404bbf;
  --iris: #4d5ae5;
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;
}
/* COMMON STYLES */
body {
  font-family: 'Roboto', sans-serif;
  color: var(--slate);
  background-color: var(--white);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}

address {
  font-style: normal;
  margin-left: auto;
}
h2 {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: var(--navyblue);
  letter-spacing: 0.02em;
}
p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
footer {
  padding-top: 100px;
  padding-bottom: 100px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.hero,
.footer {
  background: var(--navyblue);
}
.button {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  letter-spacing: 0.04em;
}
.button:hover,
.button:focus {
  color: var(--white);
  background: var(--ocean);
}
.section {
  padding-top: 60px;
  padding-right: 60px;
}

/* LOGO START */
.logo {
  color: var(--iris);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.studio-dark {
  color: var(--navyblue);
}
.studio-light {
  color: var(--cloud);
}
/* LOGO FINISH */
/* HEDER BLOK */
.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--cornflower);
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-logo {
  display: flex;
  align-items: center;
  margin-right: 76px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.header-link {
  padding-top: 24px;
  padding-bottom: 24px;
}
.header-item {
  width: calc((1128px-2 * 40px) / 3);
}
.header-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-contact-list {
  display: flex;
  align-items: center;
  gap: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.header-link {
  color: var(--navyblue);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.header-contact-item {
  width: calc((100% - 40px) / 2);
}
.header-link:hover,
.header-link:focus {
  color: var(--ocean);
}
.header-contact-link {
  color: var(--slate);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  font-style: normal;
  letter-spacing: 0.02em;
  padding: 24px;
}
.header-contact-link:hover,
.header-contact-link:focus {
  color: var(--ocean);
}

/* HERO SECTION */
.hero {
  margin: 0 auto;
  padding: 188px 0;
}
.hero-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.hero-title {
  color: var(--white);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-bottom: 46px;
  max-width: 496px;
}
.hero-btn {
  color: var(--white);
  background-color: var(--iris);
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}
.hero-dtn:hover {
  background: var(--ocean);
}
/* ABOUT SECTION */
.about {
  padding: 120px 0;
}
.about-list {
  display: flex;
  gap: 24px;
}
.about-menu {
  margin-bottom: 8px;
}
.about-item {
  width: calc((100% - 72px) / 4);
}

/* DESCRIPTION SECTION */
.description {
  padding-bottom: 120px;
}
.description-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.description-item {
  width: calc((1128px-2 * 24px) / 3);
}
.description-menu {
  margin-bottom: 72px;
}

/* AVATAR SECTION */
.avatar {
  background-color: var(--cloud);
  padding: 120px 0;
}
.avatar-list-container {
  padding: 32px 0;
}
.avatar-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.avatar-title {
  color: var(--navyblue);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.avatar-item {
  background-color: var(--white);
  width: calc((1128px-3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.avatar-avatar {
  text-align: center;
  padding-top: 32px;
  text-align: center;
  margin-bottom: 8px;
}
.avatar-descriptions {
  text-align: center;
  padding-bottom: 32px;
  text-align: center;
}
/* SECTION PORTFPLIO */
.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.portfolio-btn {
  color: var(--iris);
  background-color: var(--cloud);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid var(--cornflower);
  border-radius: 4px;
}

.portfolio-list-img {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-text-container {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--white);
  border: 1px solid transparent;
}
.portfolio-list-btn {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.flex-item {
  width: calc((100% - 48px) / 3);
}
.portfolio-menu {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
  margin-bottom: 8px;
}
.portfolio-services {
  color: var(--slate);
}

/* FOOTER SEKTION */
.footer-logo {
  padding-top: 100px;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-descriptions {
  font-size: 16px;
  line-height: 1.5;
  color: var(--cloud);
  width: 264px;
  margin-top: 18px;
  padding-bottom: 100px;
}
.studio-white {
  color: var(--cloud);
}
